node_modules
.turbo
.next
dist
build
.env
.env.local
.env.*.local
*.log
.DS_Store
*.tsbuildinfo
next-env.d.ts
packages/*/src/**/*.js
packages/*/src/**/*.js.map
packages/*/src/**/*.d.ts
packages/*/src/**/*.d.ts.map
